# Node Stuff
node_modules/
out/

# Python Stuff
.venv
backend_src/__pycache__
backend_src/build
backend_src/dist
backend_src/*.spec
backend_out

# Mac Stuff
.DS_store

# Inno Stuff
scripts/Output

# Built installer
epb-setup.exe
